<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=no">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Memo App</title>
    
</head>
<body>
    <div id="app" class="app">
        <div class="head">
            <span class="title">Memo App</span>
            <span class="list-btn glyphicon glyphicon-chevron-left" v-if="mode !== 'list'" v-on:click="mode='list'"></span>
        </div>
        <div class="body">
            <div class="list" v-if="mode === 'list'">
                <ul>
                    <li v-for="m in memos" v-on:click="open(m.id)"><span id="trash" class="glyphicon glyphicon-trash"></span>{{ m.content }}</li>
                </ul>
        </div>
        <div class="write" v-else>
                <textarea v-model="memo.content"></textarea>
                <button class="save-btn" type="button" v-on:click="save()" v-bind:class="{'full': mode === 'write'}">save</button>
                <button class="remove-btn" type="button" v-on:click="remove()" v-if="mode==='edit'">delete</button>
        </div>
            <button class="add-btn" type="button" v-on:click="write()" v-if="mode==='list'">+</button>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>